.bg-laranja{
    background-color: #F39C82;
}

.text-laranja{
    color: #F39C82;
}

ul.social-network{
    list-style: none;   
    padding: 0;
}

ul.social-network li{
    display: inline;
    padding: 5px;
}

.fa {
    font-size: 1.5rem;
    color: white;
}

.fa:hover {
    font-size: 1.5rem;
    color: #BF6145;
}

p{
    font-family: Montserrat;
}

small{
    font-family: Lato;
}