.bg-laranja{
    background-color: #F39C82;
}

h1{
    font-family: Montserrat;
    color:#F39C82;
}

h2{
    font-family: Montserrat;
    color: #BF6145;
}

p {
    font-family: Lato;
    color:#474747
}

th{
    font-family: Montserrat;
    color:#474747
}

td{
    font-family: Lato;
    color: #707070;
}

.t{
    color: #BF6145
}

.tema{
    text-transform: lowercase;
    color: #BF6145
}

.cancelar{
    background-color: #BF6145;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-family: montserrat;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px;
}

.cancelar:hover{
    background-color: #83351e;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.atualizar{
    color: white;
    background-color: #59ad9e;
    border-style: none;
    border-radius: 5px;
    font-family: montserrat;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.atualizar:hover{
    background-color: #91C2B4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}