.bg-laranja{
    background-color: #F39C82;
}

.text-laranja{
    color: #F39C82;
}

.botao{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    color: #F39C82;
}

.botao:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #BF6145;
    color: white;
}

.foto {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

.sair {
    color: #868686;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sair:hover {
    color:#BF6145;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}