<div class="container">   
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-laranja"><span class="font-weight-bold">p</span>elas ruas que andei<span class="font-weight-bold">.</span></h2>
            <p class="text-black small text-center ">Relatos de visitas, viagens e passeios de Mariana Medrano pelo mundo e pela vida.</p>
            <p class="text-center mb-5 text-laranja"><i class="fa fa-heart" aria-hidden="true"></i></p>
            <h3 class="text-center text-black mt-5 pt-5 mb-3">Cadastro</h3>
            <div class="form-group">
                <label for="">Nome</label>
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="usuario" class="text-black">Usuário</label>
                <input class="form-control" type="text" name="usuario" 
                id="usuario" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
                <label for="senha" class="text-black">Senha</label>
                <input class="form-control" type="password" name="senha" 
                placeholder="Digite sua senha">
            </div>
            <div class="form-group">
                <label for="">Confirmar senha</label>
                <input class="form-control" type="password" name="senha" 
                placeholder="Digite novamente sua senha">
            </div>
            <div class="form-group">
                <label for="">Link da foto</label>
                <input type="text" class="form-control" placeholder="URL Foto">
            </div>
            <div class="form-group">
                <label for="">Selecione o tipo de usuario</label>
                <select name="" id="" class="form-control">
                    <option value="">Selecione o tipo de usuario</option>
                    <option value="">Administrador</option>
                    <option value="">Padrão</option>
                </select>
            </div>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-info cancelar mt-3 pl-5 pr-5">Cancelar</button>
                <button type="submit" class="btn btn-info cadastrar mt-3 pl-5 pr-5">Cadastrar</button>
            </div>
            <p class="text-center mt-5 text-black">Não tem uma conta? <a href="">Cadastre-se</a> </p>
        </div>
    </div>            
</div>
