<h2 class="text-center text-laranja"><span class="font-weight-bold">p</span>elas ruas que andei<span
        class="font-weight-bold">.</span></h2>
<p class="text-black text-center small">Relatos de visitas, viagens e passeios de Mariana Medrano pelo mundo e pela
    vida.</p>
<p class="text-center mb-5 text-laranja"><i class="fa fa-heart" aria-hidden="true"></i></p>
<div class="container card col-md-6">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 mt-5 mb-5">
            <h3 class="text-center text-black mb-5 mt-2">Entrar</h3>

            <div class="form-group">
                <label for="usuario" class="text-black">Usuario</label>
                <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu Usuario">
            </div>

            <div class="form-group">
                <label for="senha" class="text-black">Senha</label>
                <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua Senha">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-info entrar mt-3 pl-5 pr-5" (click)='entrar()' >Entrar</button>
            </div>
            <p class="text-center mt-5 text-black">Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a> </p>
        </div>
    </div>
</div>